Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  cppcoreguidelines-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,

WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
